* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #1f1b24;
    font-size: 16px;
    line-height: 1.5;
    color: white;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2 {
    margin-bottom: 15px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30;
}

.navbar {
    background: #121212;
    color: white;
    height: 60px;
}

.navbar .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
    margin-right: 20px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #56525c;
}

.navbar ul li a:hover {
    color: rgb(243, 201, 17);
    font-size: large;
}